<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <deny roles="Employees" />
      <deny roles = "Estimators"/>
      <allow roles="Supervisor" />
      <allow roles = "Executives"/>
      <allow roles ="PlantManager"/>
      <allow roles="Manager" />
      <allow roles="Administrator" />
    </authorization>
  </system.web>
</configuration>