<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>		
      <deny roles="Employees" />
          <deny roles="Supervisor" />
          <deny roles="Manager" />
          <deny roles="Estimators" />
          <deny roles ="PlantManager"/>
       <allow roles="Executives" />   
			<allow roles="Administrator" />
        </authorization>
    </system.web>
</configuration>